

.slice__slider_carousel{
    margin: 0 auto;
}

.slice__slider_carousel-image {
    
}


.slice__slider_carousel-image img {

    width: 500px;
    height: 500px;
    border-image: linear-gradient( #fdbb2d, #b21f1f) 30;
}

.carousel-item-padding-40-px{
    padding: 40px;

}


.react-multiple-carousel__arrow--left {

    left: 0 !important;
    
}

.react-multiple-carousel__arrow--right {

    right: 0 !important;
    
}






@media screen and (max-width: 1050px) {
    .slice__slider_carousel-image img {

        width: 300px;
        height: 300px;
        
    }

    
.carousel-item-padding-40-px{
    padding: 0;

}
  

}

@media screen and (max-width: 650px) {

 
}

@media screen and (max-width: 490px) {


    
    .slice__slider_carousel-image img {

        width: 300px;
        height: 300px;
        
    }

    
.carousel-item-padding-40-px{
    padding: 0;

}

    

   
}