.slice__header {
    display:flex; 
    
    
}

.slice__header_header-logo h1 {
    font-family: "Margin";
    font-weight: 800;
    font-size: 80px;
    line-height: 40px;
}

.slice__header_header-logo {
    justify-content: center;
    align-items: center;
    display: flex; 
}

.slice__header_header-logo img {
    width: 30%;
    height: 0 auto;

}

@media screen and (max-width: 1050px) {

    .slice__header {
        flex-direction: column;
        
    }

    .slice__header_header-logo {
        flex-direction: column;
    }


    .slice__header_header-logo img {
        width: 70%;
        height: 0 auto;
    
    }

    .slice__header_header-logo h1 {
        font-size: 5rem;
       
        
      
    }

}

@media screen and (max-width: 650px) {
    .slice__header h1 {
        font-size: 48px;
      
    }

 
}

@media screen and (max-width: 490px) {

    .slice__header h1 {
        font-size: 80px;
        margin: 0 auto;
        margin-left: 5rem;
    }


    .slice__header_header-logo img {
        width: 100%;
        height: 100%;
    
    }
}