
.slice__story-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slice__story-top {
    display: flex;
}



.slice__story-text {

 
    margin: 0 auto;
    padding: 2rem;
}



.slice__story-text h1 {

    text-align: center;
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    
}

.slice__story-text p {

text-align: center;
font-family: var(--font-family);
font-size: 20px;
line-height: 40px;
}

.slice__story-image1 img{
 width: 400px;
 height:400px;
 transform: rotate(-20deg);

}

.slice__story-image2 img{
    width: 400px;
    height:400px;
    transform: rotate(20deg);
   }

   .slice__story-image3{
       display: flex;
       width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  
   }

   .slice__story-image3 img{
    width: 400px;
    height:400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

   }


   
   @media screen and (max-width: 1050px) {

    .slice__story{
       
        height: 80vh;
        flex-direction: column;
    }

    .slice__story-top {
        padding-top: 2rem;
        flex-direction: column;
    }

    .slice__story-image1 img{
        width: 250px;
        height:250px;
        margin: 0 auto;
       }
       .slice__story-image1 {
        margin: 0 auto;
        
       }

       .slice__story-image2 {
        margin: 0 auto;
        
       }

     .slice__story-image2 img{
        width: 250px;
        height: 250px;
        margin: 0 auto;
      
       }
       .slice__story-content {
        margin-bottom: 100px;
       
    }


}

@media screen and (max-width: 650px) {

    .slice__story-text {

        width: 80vw;
    
      
    }
    
    .slice__story-top {
        padding-top: 1rem;
        flex-direction: column;
    }

    .slice__story-text h1 {

     
        font-family: var(--font-title);
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;
        
        }

        .slice__story-text p {

            text-align: center;  
            font-size: 15px;
            line-height: 20px;
            padding: 2rem;
            
            }


            .slice__story-image1 img{
                width: 250px;
                height:250px;
                margin: 0 auto;
               }
               .slice__story-image1 {
                margin: 0 auto;
                
               }

               .slice__story-image2 {
                margin: 0 auto;
                
               }

             .slice__story-image2 img{
                width: 250px;
                height: 250px;
                margin: 0 auto;
              
               }

               .slice__story-content {
                margin-bottom: 100px;
               
            }
 
 
}

@media screen and (max-width: 490px) {


    

    .slice__story-text {

        width: 100vw;
      
    }

    .slice__story-text h1 {

     
        font-family: var(--font-title);
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;
        
        }

    .slice__story-text p {
    text-align: center;  
    font-size: 18px;
    line-height: 35px;
            
            }


     .slice__story-image1 img{
        width: 200px;
        height:200px;
       }

       .slice__story-image1 {
        margin: 0 auto;
        
       }


     .slice__story-image2 img{
        width: 200px;
        height:200px;
     
      
       }

       .slice__story-image2 {
        margin: 0 auto;
        
       }

       .slice__story-content {
           margin-top: 100px;
        margin-bottom: 200px;
    }
   
}