* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color:black;
    width: 100%;
    font-family: var(--font-family);
   
   
}

h1, h2 {
  font-family: var(--font-title)
}


a{
    color: unset;
    text-decoration: none;
}


.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    padding: 4rem 6rem;
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}







 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @media screen and (max-width: 700px) {
    .section__padding {
        padding:4rem 6rem;
    }
    .section__margin {
        margin:4rem
    }

  }

  @media screen and (max-width: 550px) {
    .section__padding {
        padding:4rem 2rem;
    }
    .section__margin {
        margin:4rem 2rem;
    }

  }
  
